<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<div [ngSwitch]="title">
  <h1 *ngSwitchCase="'Abdullah Barnawi'">Hello {{title}}</h1>
  <h1 *ngSwitchDefault> <h1></h1>Welcome To My Angular Hello Wolrd</h1>
</div>

<app-test (childEvent)="title=$event"  [parentData1]="message1" [secondMessage]="message2"></app-test>


<app-users></app-users>
